<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Towers List</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="navbar">
        <a id="spreadsheet-link" href="https://docs.google.com/spreadsheets/d/1bxhj0Xtixkpo_BtzsnIg-qwLTA7qdb7Y6fursQjRZKM/edit?gid=737244206#gid=737244206" target="_blank">Top Towers List</a>
    </div>
    <div id="main-list"></div>

    <script>
        data = {{ data | tojson }};
    </script>
    <script src="/static/main.js"></script>
</body>
</html>