<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Towers List</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="navbar">
        <div id="left">
            <a id="spreadsheet-link" href="https://docs.google.com/spreadsheets/d/1bxhj0Xtixkpo_BtzsnIg-qwLTA7qdb7Y6fursQjRZKM/edit?gid=737244206#gid=737244206" target="_blank">Top Towers List</a>
            <div id="navbar-pages">
                <div class="active">Main List</div>
                <div>Legacy List</div>
            </div>
        </div>
    </div>
    <div id="list"></div>
    <div id="info">
        <h1>Tower of Impending Doom</h1>
        <div id="extra">
            <h4>Creator(s): TheHaloDeveloper</h4>
            <h4>Verifier: skitsuna</h4>
            <h4>Location: CSCD</h4>
        </div>
    </div>

    <script>
        data = {{ data | tojson }};
    </script>
    <script src="/static/main.js"></script>
</body>
</html>